@model IEnumerable<Teacher>
@{
    ViewData["Title"] = "Учителя";
}

<div align="center">
    <div class="container p-4">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <h1 class="text-primary text-center display-5 tracking-in-expand">Наши учителя</h1>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="accordion" id="accordionTeachers">
                @foreach (var obj in Model)
                {
                    <div class="pt-3 element-animation">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-@obj.Id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@obj.Id" aria-expanded="false" aria-controls="collapse-@obj.Id">
                                    @obj.FIO
                                </button>
                            </h2>
                            <div id="collapse-@obj.Id" class="accordion-collapse collapse" aria-labelledby="heading-@obj.Id" data-bs-parent="#accordionTeachers" style="">
                                <div class="accordion-body text-center" @*tracking-in-expand-fwd-top*@>
                                    <p><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Post):</b> @obj.Post</p>
                                    <p><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Qualification):</b> @obj.Qualification</p>
                                    <p><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Experience):</b> @obj.Experience</p>
                                    <p><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Birthday):</b> @obj.Birthday.ToString("dd MMMM yyyyг.")</p>
                                    <p><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Tel_Num):</b> @obj.Tel_Num</p>
                                    <div class="row g-3 button-wrapper">
                                        <div class="col-3">
                                            <a asp-controller="Teacher" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-outline-dark">Изменить</a>
                                        </div>
                                        <div class="col-3">
                                            <a asp-controller="Teacher" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-outline-danger">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row pt-4 col-lg-6 col-md-8 col-sm-10 col-12 element-animation">
            <a asp-controller="Teacher" asp-action="Add" class="btn btn-primary w-100">
                @*<i class="bi bi-plus-square"></i>*@ Добавить учителя
            </a>
        </div>
    </div>
</div>
