@using FRDZSchool.Utility;
@using FRDZSchool.Models.DatabaseModels;
@model IEnumerable<Teacher>
@{
    ViewData["Title"] = "Учителя";
}

<div class="container pt-5 pb-5">
    <h1 class="text-primary text-center display-5 tracking-in-expand noselect">Наши учителя</h1>
    <div class="row g-0">
        @foreach (var obj in Model)
        {
            <div class="col element-animation">

                <div class="center">
                    <div class="card">
                        <div class="additional">
                            <div class="user-card">
                                @if(obj.PhotoUrl != null)
                                {
                                    <img src="~/images/teachers/@obj.PhotoUrl" title="@obj.Lastname @obj.Name @obj.Fathername" loading="lazy" style="object-fit:cover" width="150" height="250" />
                                }
                                else
                                {
                                    <img src="~/images/no-image.png" title="@obj.Lastname @obj.Name @obj.Fathername" loading="lazy" style="object-fit:cover" width="150" height="250" />
                                }
                            </div>
                            <div class="more-info card-text">
                                <h3 class="p-3 text-white">@obj.Lastname @obj.Name @obj.Fathername</h3>
                                <div class="coords">
                                    <span><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Post):</b></span>
                                    <span>@obj.Post</span>
                                </div>
                                <div class="coords">
                                    <span><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Qualification):</b></span>
                                    <span>@obj.Qualification</span>
                                </div>
                                <div class="coords">
                                    <span><b>@Html.DisplayNameForInnerType((Teacher t)=>t.Birthday):</b></span>
                                    <span>@obj.Birthday.ToString("d MMMM yyyyг.")</span>
                                </div>
                                <div class="stats">
                                    <div>
                                        <div class="title">@Html.DisplayNameForInnerType((Teacher t)=>t.PhoneNumber)</div>
                                        <i class="fa fa-trophy"></i>
                                        <div class="value">@obj.PhoneNumber</div>
                                    </div>
                                    <div>
                                        <div class="title">@Html.DisplayNameForInnerType((Teacher t)=>t.Experience)</div>
                                        <i class="fa fa-trophy"></i>
                                        <div class="value">
                                            @obj.Experience @WordHelp.Inflect(obj.Experience, "лет", "год", "года")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="general">
                            <h3 class="pt-3 text-primary">
                                @obj.Lastname
                                @obj.Name
                                @obj.Fathername
                            </h3>
                            <p></p>
                            <span class="more">Наведите курсор</span>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>